body{
	color:#ff00ff;
	background-color:#ddd;
	font-style: italic;
	font-size:20pt;
}

header img{
	float:left;
	width:175px;
	height:200px;
	padding:10px;
}

header{
	margin:0;
	width:100%;
	background-color:black;
	height:220px;
}

div{
	max-width:960px;
	margin:0 auto;
}
	

h1{
	margin:0;
	padding-top:50px;
	font-size:64pt;
	text-decoration:underline;
	color: hsl(300, 70%, 55%);
	text-shadow:
		0 0 2px #fff,
		-1px -1px 0 hsl(300, 70%, 35%),
		-2px -2px 1px hsl(300, 70%, 35%),
		-2px -2px 2px hsl(300, 10%, 15%),
		-3px -3px 0 7px hsl(60, 10%, 65%),
		-4px -4px 0 7px hsl(60, 10%, 65%),
		-5px -5px 0 7px hsl(60, 10%, 65%),
		-6px -6px 0 7px hsl(60, 10%, 65%),
		-7px -7px 4px 8px hsl(60, 10%, 40%),
		-8px -8px 6px 9px hsl(60, 10%, 55%);
}

#content{
	max-width:960px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

