body{
	color:#ff00ff;
	background:#c0c0c0;
}

header img{
	float:left;
	margin:10px;
	width:100px;
	height:100px;
}

#style{
	background-color:#ddd;
	padding:10px;
}

#content{
	max-width:960px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

